div(class="modal fade" id="problemModal" )
    .modal-dialog
        .modal-content
            .modal-header
                button(type="button" class="close" data-dismiss="modal") &times;
                .modal-title Modal Header
            .modal-body
                p body modal
            .modal-footer
                button(type="button" class="btn btn-default" data-dismiss="modal") Close